@media only screen and (max-width: 800px) {
    

    #first .list {
        grid-template-columns: 1fr 1fr 1fr;

    }

}


@media only screen and (max-width: 650px) {
    
    #first {
        padding-top: 4rem;
    }

    #first .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        padding: 1rem;
    }

}

