@media only screen and (max-width: 600px) {

    #splash .center {
        width: 90%;
        height: 50%;
    }
    #nameDesign {
        width: 100%;
        height: 100%;
        margin-bottom: 40rem;
    }

}
@media only screen and (max-width: 550px) {

    #learn .list .item {
        border-radius: 5rem !important;
        display: inline-block;  
        margin: 1rem !important;
    }
    #learn .list.one .item:first-of-type {
        padding-left: 3rem;
    }
    #learn .list.one .item:last-of-type {
        padding-right: 3rem;
    }

}
