#nav {
    transform-origin: top;
    transform: translateY(-1rem);
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(.4,.6,.3,1);
    opacity: 0;
}
.ready #nav {
    transition-delay: 0;
    transition-duration: 0;
    transform: none;
    opacity: 1;
}
.ready #nav.long {
    transition-duration: 1s;
    transition-delay: 1.4s;
    transform: none;
    opacity: 1;
}


/* #splash .name {    
    font-size: 10rem;
    font-weight: bold;
    color: black;
    white-space: nowrap;
    line-height: 10rem;
} */

#splash {
    overflow: hidden;
}
/* #splash .logo {
    width: 8rem;
    height: 8rem;
    margin: auto;
    margin-bottom: -5rem;
} */
#splash .comment {
    text-align: center;
    margin: auto;
    font-size: 2rem;
    font-weight: bold;
    color: var(--softGrey);
    opacity: 0;
    transition-duration: 0.5s;
    transition-delay: 1s;
}
.ready #splash .comment {
    opacity: 1;
}
#nameDesign {
    width: 90rem;
    height: 45rem;
}



#lineT, #lineB { opacity: 0;
    stroke-dasharray: 100px;
}
.ready #lineT, .ready #lineB { opacity: 1;
    animation: lineH-in 0.9s cubic-bezier(0.7,0,0.1,1);
    stroke-dashoffset: 100px;
}
@keyframes lineH-in {
    0% { stroke-dashoffset: 300px; opacity: 0.5; }
    10% { opacity: 1; }
    100% { stroke-dashoffset: 100px; }
}


#lineR, #lineL { opacity: 0;
    stroke-dasharray: 35px;
 }
.ready #lineR, .ready #lineL { opacity: 1;
    animation: lineV-in 0.6s cubic-bezier(0.7,0,0.1,1);
    stroke-dashoffset: 35px;
}
@keyframes lineV-in {
    0% { stroke-dashoffset: 105px; opacity: 0; }
    10% { opacity: 1; }
    100% { stroke-dashoffset: 35px; }
}


#nameDesign #lineL { animation-delay: 0.3s; }
#nameDesign #lineR { animation-delay: 0.1s; }
#nameDesign #lineB { animation-delay: 0.2s; }

#word1, #word2, #word3 {
    opacity: 0;
}
.ready #word1, .ready #word2, .ready #word3 {
    animation: word-in 0.5s cubic-bezier(.11,.74,0,1);
    animation-fill-mode: forwards;
}
@keyframes word-in {
    0% { transform: translateY(6px); opacity: 0; }
    10% { opacity: 1; }
    100% { transform: none; opacity: 1; }
}

#nameDesign #word1 { animation-delay: 0.5s }
#nameDesign #word2 { animation-delay: 0.6s }
#nameDesign #word3 { animation-delay: 0.7s }






#about {
    background: black;
    padding: 15%;
}
#about .wrapper {
    max-width: 128rem;
    margin: auto;
}


#portraits {
    display: table;
    width: 35rem;
    height: 20rem;
    position: relative;
    overflow: visible;
    margin-bottom: 5rem;
}
#portraits .one {
    z-index: 2;
    top: 0;
    left: 0;
    height: 20rem;
    width: 20rem;
    border-radius: 10rem;
    background: url(src/friend1.png) center no-repeat;
}
#portraits .two {
    z-index: 1;
    bottom: 1rem;
    left: 19rem;
    height: 15rem;
    width: 15rem;
    border-radius: 7.5rem;
    background: url(src/friend2.png) center no-repeat;
}
#portraits .three {
    bottom: 2rem;
    left: 33rem;
    height: 10rem;
    width: 10rem;
    border-radius: 5rem;
    background: url(src/friend3.png) center no-repeat;
}
#portraits .one, #portraits .two, #portraits .three {
    position: absolute;
    box-shadow: 0 0 0 0.5rem black;
    background-size: cover;
    background-repeat: no-repeat;
}

#portraits.prelide .one, #portraits.prelide .two, #portraits.prelide .three {
    transform: none;
    transform-origin: top;
    transition-timing-function: cubic-bezier(.38,1.5,.38,1);
}
#portraits.elide .one, #portraits.elide .two, #portraits.elide .three {
    opacity: 0;
    transform: translate(6rem,10rem);
}
#portraits.prelide .one { transition-duration: 2s; }
#portraits.prelide .two { transition-duration: 2.2s; transition-delay: 0.2s; }
#portraits.prelide .three { transition-duration: 2.4s; transition-delay: 0.4s; }

#about h1 {
    color: white;
    font-size: 5rem;
    margin-bottom: 5rem;
}
#about a {
    display: table;
    padding: 1rem 2rem;
    padding-bottom: 1.25rem;
    font-size: 2rem;
    font-weight: bold;
    background: var(--yellow);
    color: black;
    border-radius: 4rem;
}
#about a {
    background: #ff9ff4;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(.43,.71,.12,1);
}
#about a:hover {
    background: white;
    transform: translateY(-0.5rem);
}





#learn {
    background: #00007D;
    color: white;
    padding: 15%;
    text-align: center;
}
#learn .wrapper {
    max-width: 128rem;
    margin: auto;
}
#learn h1 {
    font-size: 5rem;
    margin: auto;
    margin-bottom: 5rem;
}




#learn .list.one {
    margin-bottom: 5rem;
}
#learn .list.one .item {
    display: inline-block;
    margin: 0.25rem;
    font-family: Menlo, monospace;
    font-weight: bold;
    background: var(--blue);
    color: var(--deepBlue);
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    font-size: 3rem;
}
#learn .list.one .item:first-of-type {
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    padding-left: 4rem;
    background: #00ff91;
}
#learn .list.one .item:last-of-type {
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    padding-right: 4rem;
    background: #ffff91;
}

#learn .prelide .list.one .item {
    cursor: default;
    transition-duration: 1.2s;
    transform-origin: bottom left;
    transition-timing-function: cubic-bezier(.18,.89,.36,1);
    transform: none;
}
#learn .elide .list.one .item {
    opacity: 0;
    transform: perspective(800px) translateX(5rem) scale(0.7) rotateX(-70deg);
}
#learn .prelide .list.one .item.two {
    transition-duration: 1s;
    transition-delay: 0.2s;
}
#learn .prelide .list.one .item.three {
    transition-duration: 1s;
    transition-delay: 0.4s;
}
#learn .list.one .item:hover {
    transition-delay: 0;
    background: white;
}



#learn .icons {
    max-width: 80rem;
    margin: auto;
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
#learn .icons .icon {
    position: relative;
    display: inline-block;
    height: 10rem;
    margin-bottom: 4rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#learn .icons .icon .title {
    position: absolute;
    bottom: -3rem; left: 0; right: 0;
    height: 4rem;
    font-size: 2.5rem;
    color: white;
}

#learn .icons .icon {
    opacity: 0;
    transform: translateY(4rem);
}
.ready #learn .icons .icon.one { animation: learn-icon-in 1.4s 0.0s cubic-bezier(.12,.58,.13,1) forwards; }
.ready #learn .icons .icon.two { animation: learn-icon-in 1.4s 0.1s cubic-bezier(.12,.58,.13,1) forwards; }
.ready #learn .icons .icon.three { animation: learn-icon-in 1.4s 0.2s cubic-bezier(.12,.58,.13,1) forwards; }
.ready #learn .icons .icon.four { animation: learn-icon-in 1.4s 0.3s cubic-bezier(.12,.58,.13,1) forwards; }
@keyframes learn-icon-in {
    0% { opacity: 0; transform: translateY(4rem); }
    20% { opacity: 1; }
    100% { transform: none; opacity: 1; }
}



#learn a {
    display: table;
    margin: auto;
    padding: 1rem 2rem;
    padding-bottom: 1.25rem;
    font-size: 2rem;
    font-weight: bold;
    background: var(--blue);
    color: var(--deepBlue);
    border-radius: 4rem;
}
#learn a {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(.43,.71,.12,1);
}
#learn a:hover {
    background: white;
    transform: translateY(-0.5rem);
}







#join {
    text-align: center;
    background: white;
    color: black;
    padding: 12%;
}
#join .wrapper {
    max-width: 128rem;
    margin: auto;
}

#join .img {
    height: 20rem;
    width: 20rem;
    display: block;
    margin: auto;
    margin-bottom: 5rem;
    background: url(src/loveDesign.svg) center no-repeat;
    background-size: contain;
}

#join h1 {
    margin: auto;
    margin-bottom: 5rem;
}

#join a {
    display: table;
    margin: auto;
    padding: 1rem 2rem;
    padding-bottom: 1.25rem;
    font-size: 2rem;
    font-weight: bold;
    background: var(--orange);
    color: white;
    border-radius: 4rem;
}
#join a {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(.43,.71,.12,1);
}
#join a:hover {
    background: black;
    transform: translateY(-0.5rem);
}