

#nav {
    position: absolute;
    top: 0; left: 0; right: 0;
    color: white;
}
#nav .logo {
    background: url(/src/logoWhite.svg) no-repeat center;
}
#nav .link::after {
    background: white;
}
#nav #join {
    background: white;
    color: black;
}
#nav #join:hover {
    box-shadow: 0 0 0 0.5rem white;
}

.middle {
    text-align: center;
    margin: auto;
}


#s-splash {
    box-sizing: border-box;
    padding: 8rem;
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: url(/src/img/splash.svg) no-repeat center;
    background-size: cover;
}
#s-splash .max {
    height: 100%;
    position: relative;
}
#s-splash .max .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#s-splash h1 {
    color: white;
    font-size: 10rem;
    font-weight: bold;
}
#s-splash p {
    font-size: 2rem;
    color: var(--grey);
    margin-top: 10rem;
    transform: translateY(10rem);
}

#logoFont {
    overflow: visible;
    width: 36rem;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    transition-duration: 2.6s;
    transition-delay: 0.2s;
    transition-timing-function: linear;
    stroke-width: 0.5px;
    stroke: white;
    fill: rgba(255, 255, 255, 0);
}
.ready #logoFont {
    stroke-dashoffset: 0;
    stroke-width: 0px;
    fill: white;
}


#s-splash #action {
    cursor: pointer;
    display: block;
    margin-top: 10rem;
    padding: 2rem 4rem;
    background: var(--orange);
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    border-radius: 50rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 139, 0.2);
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(.43,.71,.12,1);
}
#s-splash #action:hover {
    background: var(--blue);
    box-shadow: 0 0 0 2rem #00007D; 
    transform: translateY(-1rem);
}

#s-splash #arrow {
    cursor: pointer;
    overflow: visible;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    stroke: var(--orange);
    stroke-width: 1rem;
    stroke-linecap: round;
    transform: translateY(0);
    animation: bob 4s cubic-bezier(.3,0,.7,1) infinite;
}
#s-splash #arrow.hide {
    transition-duration: 0.4s;
    opacity: 0;
}
#s-splash #arrow svg { overflow: visible; }
@keyframes bob {
    0% { transform: translateY(0); stroke: var(--blue); }
    50% { transform: translateY(-1.5rem); stroke: #00007D; }
    100% { transform: translateY(0); stroke: var(--blue); }
}
#s-splash #arrow:hover {
    stroke: white;
}








#s-about {
    padding: 20rem 15rem;
    background: white;
    color: black;
}
#s-about p {
    font-size: 3rem;
}
#s-about h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
}
#s-about .list p {
    margin-top: 2rem;
}
#s-about .list p::before {
    content: "+";
    padding-right: 2rem;
    color: #FF9C35;
}

#s-about .img {
    display: block;
    width: 20rem;
    height: 20rem;
    margin-top: -4rem;
    margin-bottom: 4rem;
    background: url(/src/img/loveDesign.svg) center no-repeat;
}

#s-about .portraits {
    margin-top: 6rem;
}


#s-about .portrait {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    height: 16rem;
    width: 16rem;
    margin: 2rem;
    background: var(--yellow);
    border-radius: 100rem;
    background-size: cover;
}
#s-about .portrait.one { background-image: url(/src/img/team/tiffany.jpg); }
#s-about .portrait.two { background-image: url(/src/img/team/nguyen.jpg); }
#s-about .portrait.three { background-image: url(/src/img/team/kai.png); }

#s-about a.portrait {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--orange);
    padding: 5rem 2rem;
    transition-duration: 0.2s;
}
#s-about a.portrait:hover {
    background: var(--orange);
    box-shadow: 0 0 0 1rem var(--yellow);
    color: white;
}



#s-new {
    padding: 20rem 15rem;
    background: #00007D;
    color: white;
    text-align: center;
}
#s-new .img {
    display: block;
    width: 15rem;
    height: 15rem;
    margin: auto;
    margin-top: -4rem;
    margin-bottom: 6rem;
    background: url(/src/img/somethingNew.svg) center no-repeat;
}
#s-new h1 {
    max-width: 64rem;
    margin: auto;
    font-size: 5rem;
}
#s-new p {
    margin: auto;
    margin-top: 4rem;
    font-size: 3rem;
}
#s-new h2 {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--blue);
}

#s-new .table {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 8rem;
    grid-gap: 2rem;
    max-width: 80rem;
}

#s-new .table .item .img {
    margin: auto;
    height: 6rem;
    width: 6rem;
    margin-bottom: 0rem;
}

#s-new a {
    cursor: pointer;
    display: table;
    margin: auto;
    margin-top: 12rem;
    margin-bottom: -6rem;
    padding: 2rem 4rem;
    background: var(--blue);
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    border-radius: 50rem;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(.43,.71,.12,1);
}
#s-new a:hover {
    color: black;
    background: white;
    box-shadow: 0 0 0 1rem var(--blue); 
    transform: translateY(-1rem);
}





#s-res {
    background: black;
    padding: 20rem 15rem;
}
#s-res p {
    font-size: 3rem;
}
#s-res h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
}
#s-res a {
    position: relative;
    display: table;
    margin-top: 3rem;
    font-size: 3rem;
    color: var(--orange);
}
#s-res a::after {
    content: "↗︎";
    padding-left: 2rem;
}

#s-res .table {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
}
#s-res .table > div {
    position: relative;
    padding: 2rem;
    height: 16rem;
    border-radius: 1rem;
    background: var(--orange);
}
#s-res .table h2 {
    color: var(--yellow);
    position: absolute;
    font-size: 5rem;
    text-align: left;
}




#s-join {
    margin: 0;
    padding: 20rem 15rem;
    position: relative;
    color: black;
    background: white;
}
#s-join p {
    font-size: 3rem;
}
#s-join h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
}
#s-join #action {
    cursor: pointer;
    display: table;
    margin: auto;
    margin-top: 6rem;
    padding: 2rem 4rem;
    background: var(--blue);
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    border-radius: 50rem;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(.43,.71,.12,1);
}
#s-join #action:hover {
    background: var(--orange);
    box-shadow: 0 0 0 1rem var(--yellow); 
    transform: translateY(-1rem);
}