@media only screen and (max-width: 900px) {
    #splash {
        height: 100rem !important;
        grid-template-rows: 1fr 2fr; 
    }
    #overlay .icon.two {
        transform: translate(-9rem,8rem);
    }
}
@media only screen and (max-width: 650px) {

    #splash {
        height: 70rem !important;
        grid-template-rows: 1.5fr 3fr; 
    }

    #splash .center {
        width: 90%;
        height: 50%;
    }
   
    #splash .top {
        background: url(/name.svg) bottom no-repeat;
        background-size: 60%;
    }

    #overlay .icon.two {
        transform: translate(-6rem,8rem);
    }

}
@media only screen and (max-width: 550px) {

    #learn .list .item {
        border-radius: 5rem !important;
        display: inline-block;  
        margin: 1rem !important;
    }
    #learn .list.one .item:first-of-type {
        padding-left: 3rem;
    }
    #learn .list.one .item:last-of-type {
        padding-right: 3rem;
    }

}
