

#nav {
    position: absolute;
    top: 0; left: 0; right: 0;
    color: white;
}
#nav .logo {
    background: url(/src/logoWhite.svg) no-repeat center;
}
#nav .link::after {
    background: white;
}
#nav #join {
    background: white;
    color: black;
}


.middle {
    text-align: center;
    margin: auto;
}


#s-splash {
    box-sizing: border-box;
    padding: 8rem;
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: url(/src/img/splash.svg) no-repeat center;
    background-size: cover;
}
#s-splash .max {
    height: 100%;
    position: relative;
}
#s-splash .max .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#s-splash h1 {
    color: white;
    font-size: 10rem;
    font-weight: bold;
}
#s-splash p {
    font-size: 2rem;
    color: var(--grey);
    margin-top: 10rem;
    transform: translateY(10rem);
}

#logoFont {
    overflow: visible;
    width: 36rem;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    transition-duration: 2.6s;
    transition-delay: 0.2s;
    transition-timing-function: linear;
    stroke-width: 0.5px;
    stroke: white;
    fill: rgba(255, 255, 255, 0);
}
.ready #logoFont {
    stroke-dashoffset: 0;
    stroke-width: 0px;
    fill: white;
}


#s-splash #action {
    white-space: nowrap;
    color: black;
    background: white;
    font-weight: bold;
    display: table;
    margin-top: 10rem;
    font-size: 2.5rem;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(.54,.25,.27,1);
}
#s-splash #action:hover {
    transform: scale(1.04);
    box-shadow: 0 1rem 2rem 0rem rgb(28, 24, 252);
}



#s-about {
    padding: 20rem 15rem;
}
#s-about p {
    font-size: 3rem;
}
#s-about h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
}
#s-about .list p {
    margin-top: 2rem;
}
#s-about .list p::before {
    content: "+";
    padding-right: 2rem;
    color: #FF9C35;
}

#s-about .img {
    width: 18rem;
    height: 18rem;
    margin-top: -4rem;
    margin-bottom: 2rem;
    background: url(/src/img/loveDesign.svg) center no-repeat;
}




#s-res {
    padding: 20rem 15rem;
}
#s-res p {
    font-size: 3rem;
}
#s-res h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
}
#s-res a {
    position: relative;
    display: table;
    margin-top: 3rem;
    font-size: 3rem;
    color: #FF9C35;
}
#s-res a::after {
    content: "↗︎";
    padding-left: 2rem;
}




#s-join {
    padding: 20rem 15rem;
    position: relative;
}
#s-join .background {
    z-index: -1;
    background: var(--blue);
    position: absolute;
    top: 8rem; left: 8rem; right: 8rem; bottom: 8rem;
}
#s-join p {
    font-size: 3rem;
}
#s-join h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
}
#s-join #action {
    color: black;
    background: white;
    font-weight: bold;
    display: table;
    margin-top: 6rem;
    margin-bottom: -2rem;
    font-size: 2.5rem;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.54,.25,.27,1);
}
#s-join #action:hover {
    transform: scale(1.04);
    box-shadow: 0 1rem 2rem -1rem rgb(77, 0, 219);
}