#nav {
    z-index: 10;
    padding: 1rem 4rem;
    top: 0; right: 0; left: 0;
}
#nav .logo {
    background: url(/src/logo.svg) no-repeat center;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
}
#nav .link {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
}
#nav .link::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 1rem; left: 2rem; right: 2rem;
    height: 0.20rem;
    background: black;
    transform-origin: center;
    transform: scaleX(0);
    transition-duration: 0.1s;
}
#nav .link:hover::after {
    transform: scaleX(1);
}

#nav #join {
    position: absolute;
    right: 1rem;
    padding: 1rem 3rem;
    background: #FF5C2E;
    color: white;
}
#nav #join::after {
    display: none;
}



.button {
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}



.max {
    max-width: 128rem;
    margin: auto;
}
.maxLine {
    max-width: 128rem;
    margin: auto;
    height: 0.5rem;
    background: var(--softGrey);
}
.caption {
    max-width: 96rem;
}


#bottom {
    background: var(--softGrey);
    color: var(--grey);
    padding: 8rem;
}
#bottom .max {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#bottom .logo {
    background: url(/src/greyLogoFull.svg) left no-repeat;
    height: 5rem;
    margin-bottom: 2rem;
}
#bottom p {
    font-size: 2rem;
    margin: 0.5rem;
    font-weight: 500;
}
#bottom .links > a {
    display: table;
    font-size: 2rem;
    padding: 0.5rem;
}
#bottom .links > a:hover {
    color: var(--orange);
}
#bottom .selected {
    font-weight: 700;
}
@media only screen and (max-width: 900px) {

    #bottom .max {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }
    
}