html, body {
    width: 100%;
    height: 100%;  
}
#main {
    position: relative;
    width: 100%;
    max-width: 160rem;
    min-height: 100%;
    margin: auto;

    display: grid;
    gap: 4rem;
    grid-template-columns: 25rem 1fr;
}






#navi {
    padding: 5rem;
    height: 100vh;
    position: sticky;
    top: 0;
    box-sizing: border-box;
}
#navi .logo {
    font-size: 2.5rem;
    white-space: nowrap;
    padding-left: 5rem;
    background-position: left center;
    height: 3rem;
}
#navi .links {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#navi .links .link {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 1rem 0;
    font-size: 2.5rem;
    transition-duration: 0.2s;
}
#navi .links .link::before {
    font-size: 3rem;
    font-weight: bold;
    content: "→";
    position: absolute;
    top: 50%;
    color: var(--blue);
    transform: translateY(-50%);
    left: -8rem;
    opacity: 0;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(.31,1.57,.55,1);
}
#navi .links .link:hover {
    color: var(--blue);
}
#navi .links .link.selected {
    padding: 2rem 1rem;
    font-size: 3rem;
}
#navi .links .link.selected::before {
    opacity: 1;
    left: -3rem;
}





#content {
    position: relative;
}
#content h1 p {
    font-size: 2.5rem;
    font-weight: normal;
}

#content h1.title {
    font-size: 8rem;
    font-weight: bold;
    font-style: italic;
}
#content .caption {
    font-size: 3rem;
    font-weight: bold;
    color: var(--blue);
}

.section {
    position: relative;
    box-sizing: border-box;
    padding: 10rem;
    padding-top: 5rem;
}
.section p {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.section h1.header {
    font-weight: bold;
    margin-bottom: 8rem;
    width: 100%;
    padding: 2rem;
    border-bottom: 2px dashed var(--orange);
}




.section.welcome {
    height: 100vh;
}
.section.welcome .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.section.welcome .button {
    cursor: pointer;
    display: table;
    padding: 1rem 2rem;
    padding-bottom: 1.25rem;
    font-size: 2rem;
    font-weight: bold;
    background: var(--yellow);
    color: white;
    background: black;
    border-radius: 4rem;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(.43,.71,.12,1);
}
.section.welcome .button:hover {
    background: var(--orange);
    color: white;
    transform: translateY(-0.5rem);
}



.section.about p {
    width: 90%;
    margin: auto;
    font-size: 2.25rem;
    margin-bottom: 2rem;
    text-indent: 4rem;
}



.section.faq .container {
    width: 100%;
    max-width: 136rem;
    margin: auto;
    position: relative;
    padding: 2rem;
    vertical-align: top;
    text-align: center;
}
.section.faq .container .item {
    text-align: left;
    vertical-align: top;
    width: 44%;
    display: inline-block;
    padding: 3%;
    margin-bottom: 2rem;
}

.section.faq .container .item.long {
    width: 90%;
    display: table;
}

.section.faq .container .item .q {
    color: var(--orange);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.section.faq .container .item .a {
    font-size: 2.25rem;
    font-weight: normal;
}
.section.faq .container .item .a a {
    text-decoration: underline;
}
.section.faq .container .item .a a:hover {
    color: var(--blue);
}