@media only screen and (max-width: 900px) {


    #top {
        grid-template-columns: 1fr 1fr;
    }
    #top > div:nth-of-type(2) {
        display: none;
    }
    #top > div:nth-of-type(2) { text-align: right; }


    #widgets {

        position: relative;
        height: 60rem;
        margin-top: -15rem;
    
    }
    #widgets .container {
        margin: auto;
        padding: 0 10%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10rem;
    }


}
@media only screen and (max-width: 700px) {


    #top .link.button {
        position: absolute;
        top: 3rem;
        right: 4rem;
    }
    #hero .title {
        font-size: 5rem;
    }
    #flower {
        width: 90%;
    }


}