#nav {
    background: white;
}
#s-splash {
    padding: 8rem 20rem;
    padding-bottom: 6rem;
    background: white;
    color: black;
}
#s-splash h1 {
    text-align: center;
    font-size: 6rem;
    font-weight: 700;
}
#s-splash .img {
    display: block;
    height: 10rem;
    width: 10rem;
    background: url(/src/img/join.svg) center no-repeat;
    margin: auto;
    margin-bottom: 4rem;
    margin-top: -4rem;
}



#s-steps {
    padding: 5rem;
    max-width: 80rem;
}
#s-steps h1 {
    font-weight: bold;
    font-size: 3rem;
    width: 100%;
}
#s-steps p {
    font-size: 2rem;
}

#s-steps .head {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
}

#-head1 .step { background: var(--blue); }
#-head1 .title { color: var(--blue); }

#-head2 .step { background: var(--orange); }
#-head2 .title { color: var(--orange); }

#-head3 .step { background: var(--yellow); }
#-head3 .title { color: var(--yellow); }



#s-steps .card {
    background: white;
    color: black;
    padding: 4rem;
    margin: 2rem 1rem;
    margin-bottom: 8rem;
    border-radius: 1rem;
}





#-name {
    margin-top: 4rem;
}
#-card1 h2 {
    font-size: 4rem;
    color: #01B7FF;
}
#-card1 #-location {
    font-size: 2.5rem;
    margin-top: 1rem;
}
#-card1 h3 {
    font-size: 2rem;
    margin-top: 1rem;
}
#-card1 p {
    font-size: 2rem;
    margin-top: 2rem;
}





#-card2 p {
    font-size: 2rem;
    margin-top: 1rem;
}
#-signup {
    cursor: pointer;
    color: white;
    background: #FC593D;
    font-weight: bold;
    display: table;
    margin-top: 2rem;
    font-size: 2.5rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.54,.25,.27,1);
}
#-signup:hover {
    transform: scale(1.04);
    box-shadow: 0 1rem 2rem -1rem rgb(240, 35, 62);
}
#-signup::placeholder {
    color: black;
}



#s-more {
    text-align: center;
    padding: 12rem 6rem;
}
#s-more h1 {
    font-size: 4rem;
}

#s-more .table {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    margin-top: 5rem;
}
#s-more a {
    display: inline-block;
    font-weight: bold;
    font-size: 3rem;
    padding: 1rem 0;
}



#-card3 .links {
    text-align: center;
}
#-card3 .links a {
    display: inline-block;
    padding-top: 10rem;
    margin: 4rem;
    font-size: 2rem;
    background-size: 8rem;
    background-position: top;
    background-repeat: no-repeat;
    transition-duration: 0.3s;
}
#-card3 .links .facebook { background-image: url(/src/img/socialMedia/facebook-black.svg); }
#-card3 .links .instagram { background-image: url(/src/img/socialMedia/instagram-black.svg); }

#-card3 .links a:hover {
    transform: translateY(-0.5rem);
    transition-timing-function: cubic-bezier(.24,1.65,.23,1);
    transition-duration: 0.5s;
}



#mc_embed_signup p#disclaim {
    margin-top: 2rem;
    font-size: 12px;
    color: var(--grey);
    font-style: oblique;
}

#mc_embed_signup p#disclaim a {
    font-size: inherit;
    text-decoration: underline;
}