


#mc_embed_signup * {
    font-size: inherit;
    font-size: 2rem;
    vertical-align: top;
}



#mc_embed_signup input {
    position: relative;
    box-sizing: border-box;
    color: black;
    background: var(--softGrey);
    border: none;
    padding: 1.5rem 3rem;
    margin-top: 0.25rem;
    width: 100%;

    cursor: pointer;
    display: block;
    font-size: 2.5rem;
    outline: none;
    box-shadow: none;
}
#mc_embed_signup input.mce_inline_error {
    border: none;
}
#mc_embed_signup input.ftop {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
#mc_embed_signup input.fbot {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

#mc_embed_signup input:placeholder {
    color: transparent !important;
}
#mc_embed_signup input:focus {
    background: var(--blue);
    color: white;
}


#mc_embed_signup input::placeholder {
    color: var(--grey);
}
#mc_embed_signup input:focus::placeholder {
    color: transparent;
}

.mc-field-group span {
    color: var(--grey);
    font-style: oblique;
}


#emailSignUp #mc_embed_signup div.mce_inline_error {
    color: white;
    background: var(--orange);
    background-color: none;
    margin-bottom: -2px;
    z-index: 10;
    position: relative;
    margin-bottom: 0;
}

#mc_embed_signup #mc-embedded-subscribe {
    color: white;
    border: none;
    background: black;
    max-width: 20rem;
    margin: auto;
    margin-top: 2rem;
    border-radius: 4rem;
    padding: 1rem 2rem;
    font-size: 2rem;
}
#mc_embed_signup #mc-embedded-subscribe:hover {
    background: var(--orange);
}


#mce-error-response {
    color: var(--orange);
    padding: 2rem;
}


div#mce-success-response {
    font-size: 3rem;
    padding: 4rem;
    text-align: center;
}


#emailSignUp #disclaim {
    padding: 2rem;
    font-size: 2rem;
    color: var(--grey);
}
#emailSignUp #disclaim a {
    text-decoration: underline;
}