
#next {
    position: relative;
    padding: 5%;
    padding-top: 10%;
    text-align: center;
}

#next .title {
    color: var(--blue);
    font-size: 3rem;
    font-weight: bold;
    transition-duration: 0.8s;
    transition-delay: 0.1s;
    transition-timing-function: cubic-bezier(.24,.76,.36,1);
    opacity: 0;
    transform: translateY(2rem);
}
.ready #next .title {
    opacity: 1;
    margin-bottom: 1rem; 
    transform: none;
}

#next .link {
    cursor: pointer;
    display: table;
    padding: 1rem 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--blue);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5rem;
    transition-duration: 0.3s;
}
#next .link:hover {
    background: var(--orange);
    transform: translateY(-0.5rem);
}
#next .link[href="none"] {
    display: none;
}


#next .loadAnimation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#next .loadAnimation svg {
    width: 12rem;
    height: 12rem;
    z-index: 1;
}
.ready #next .loadAnimation svg {
    transition-duration: 0.2s;
    opacity: 0;
}
#ballL { animation: ballBounce 0.45s linear -0.16s infinite; }
#ballM { animation: ballBounce 0.45s linear -0.08s infinite; }
#ballR { animation: ballBounce 0.45s linear -0.0s infinite; }

@keyframes ballBounce {
    0% {
        opacity: 1;
        animation-timing-function: cubic-bezier(0,.6,.4,1);
    }
    50% {
        opacity: 0;
        animation-timing-function: cubic-bezier(.6,0,1,.4);
    }
    100% {
        opacity: 1;
    }
}


#next .container {
    display: block;
    margin: 10rem auto;
    max-width: 128rem;
    transition-duration: 0.8s;
    transition-delay: 0.2s;
    transition-timing-function: cubic-bezier(.24,.76,.36,1);
    opacity: 0;
    transform: translateY(2rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    text-align: left;
}

.ready #next .container {
    transform: none;
    opacity: 1;
}
#next.announcement {
    grid-template-columns: 1fr;
}
#next.announcement #-date, #next.announcement #-location {
    display: none;
}
#next h1.name {
    font-size: 5rem;
    font-weight: bold;
}
#next p {
    font-weight: bold;
    font-size: 3rem;
}
#next .name {
    margin-bottom: 5rem;
}
#next .desc {
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 3rem;
    text-align: justify;
}
#next .container .left p {
    font-weight: bold;
}
#next .location, #next .date, #next .time {
    box-sizing: border-box;
    margin: 2rem auto;
    display: inline-block;
}





#info {
    padding: 10%;
    padding-bottom: 0;
    background: black;
    color: white;
    min-height: 100rem;
}

#info p.one {
    margin-bottom: 10rem;
}
#info p.one a {
    padding: 0 0.5rem;
    color: var(--blue);
}
#info p.one a:hover {
    color: black;
    background: var(--blue);
}




.events {
    padding: 4rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    padding-bottom: 8rem;
}
#next.announcement .event * { cursor: default; }
a.event {
    cursor: pointer;
}
.event {
    z-index: 1;
    position: relative;
    overflow: hidden;
    padding: 3rem;
    border-radius: 1rem;
    background: none;
    color: black;    
}.event .bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; height: 300%;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.44,.57,.08,1.01);
    background: linear-gradient(white 33%, var(--blue) 66%);
}
.event:hover .bg {
    top: -200%;
}
.event[hide=true] {
    background: var(--blue);
    opacity: 0;
}
.event[hide=true] .bg { top: -200%; }
.event.expandable {
    cursor: pointer;
}
.event.expandable * { cursor: pointer; }
.event:hover {
    background-position-y: 100%;
    color: white;
}
.event:hover p.type {
    transition-duration: 0.2s;
    color: white;
}
.event.announce {
    background: var(--deepBlue);
    color: var(--blue);
}
.event.announce p.type { color: white; }

.event p {
    font-size: 2rem;
    font-weight: bold;
}
.event p.type {
    color: var(--blue);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 2rem;
}
.event p.desc {
    display: none;
}
.event h1 {
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: normal;
}







::-webkit-scrollbar {
    display: default;
}
#modal {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
}

#modal {
    overflow-y: scroll;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    animation: in-Modal 0.2s linear;
}
@keyframes in-Modal {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#modal .container {
    cursor: zoom-out;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    box-sizing: border-box;
    overflow: visible;
    padding: 8rem;
}
#modal .container .window {
    cursor: default;
    overflow: hidden;
    position: relative;
    max-width: 72rem;
    margin: auto;
    background: white;
    border-radius: 2rem;
    box-shadow: 0 1rem 10rem -1rem black;
    animation: in-Window 0.6s cubic-bezier(.1,.94,0,.99);
    padding: 5rem;
}
@keyframes in-Window {
    0% { transform: scale(0.8); }
    100% { transform: none; }
}

#modal .exit {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background: url(/src/cross.svg) center no-repeat;
    background-size: 4rem;
    width: 12rem;
    height: 12rem;
    z-index: 10;
    opacity: 1;
    animation: in-Exit 1.8s cubic-bezier(.2,.6,0,0.9);
}
@keyframes in-Exit {
    0% { transform: scale(0.7) translateY(3rem); }
    40% { opacity: 1; }
    100% { transform: none; opacity: 1; }
}


#modal .icon {
    margin: auto;
    position: relative;
    background-color: white;
    background-size: cover;
    top: 0; left: 0; right: 0;
    padding-bottom: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    animation: in-Icon 0.5s cubic-bezier(.2,.6,0,1);
}
@keyframes in-Icon {
    0% { padding-bottom: 0%; }
    100% { padding-bottom: 100%; }
}


#modal {
    font-size: 4rem;
    color: black;
    padding: 3rem 5rem 1rem 5rem;
}
#modal p.type { color: white; }

#modal p {
    font-size: 2.5rem;
    font-weight: bold;
}
#modal p.type {
    color: var(--blue);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 2.5rem;
}
#modal h1 {
    margin-top: 2rem;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 3rem;
}
#modal p.desc {
    font-weight: normal;
    font-size: 3rem;
    line-height: 4rem;
}
#modal a.slides {
    display: table;
    padding: 1rem 2rem;
    background: var(--orange);
    color: white;
    font-size: 2rem;
    border-radius: 5rem;
    font-weight: bold;
    margin: 3rem 0;
}