@media only screen and (max-width: 900px) {


    #next {
        padding: 12% 8%;
        padding-bottom: 8%;
    }

    #next .split {
        padding: 4rem;
        grid-template-columns: 1fr;
    }

    #next .container {
        grid-template-columns: 1fr;
        gap: 8rem;
    }

    #info {
        padding: 12% 8%;
    }

    .events {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 600px) {

    .events {
        grid-template-columns: 1fr;
    }

}