#page {
    text-align: center;
    padding: 10%;
}
#page .title {
    padding-bottom: 1rem;
}



#page a.one {
    display: table;
    margin: auto;
    font-size: 2rem;
    font-weight: bold;
    color: var(--grey);
    margin-bottom: 5rem;
}
#page a.one:hover {
    color: var(--blue);
}



#tickets {
    max-width: 100rem;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#tickets .guest {
    display: grid;
    text-align: center;
    padding-bottom: 3rem;
}
#tickets .guest .name {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 0.5rem;
}
#tickets .guest .count {
    font-size: 3rem;
    font-weight: normal;
}