#nav {
    position: absolute;
}


#nav .icon {
    display: table;
    width: 140px;
    background: url(icon.svg) center no-repeat;
    background-size: contain;
    border-radius: 1.5rem;
}
#nav .icon > div {
    padding-bottom: 30%;
}


#notice {
    position: absolute;
    box-sizing: border-box;
    top: 11rem; left: 0;
    padding: 3rem;
    width: 100%;
    color: white;
    background: var(--blue);
    font-size: 2.5rem;
    text-align: center;
}


#first {
    box-sizing: border-box;
    width: 100%;
    padding-top: 5%;
}
#first .split {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    gap: 10%;
    padding: 10%;
}

#first .img {
    position: relative;
    width: 100%;
    background: url(banner.png) center no-repeat;
    background-size: contain;
}
#first .img > div {
    padding-bottom: 55%;
}

h1 {
    text-align: left;
    font-size: 6rem;
    margin-bottom: 1rem;
}
#first p {
    text-align: left;
    font-size: 2.5rem;
}
#first p.caption {
    color: var(--blue);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}




h1.head {
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;
}



.list {
    grid-template-rows: auto;
    box-sizing: border-box;
    padding: 10%;
    padding-top: 5rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
}
.list .photo {
    position: relative;
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 2rem;
    background-position: center;
    background-size: cover;
}
.list .photo > div {
    padding-bottom: 70%;
}
.list .name {
    font-size: 3rem;
    margin-bottom: 2rem;
}
.list .bio {
    text-align: justify;
    font-weight: normal;
    font-size: 2rem;
}