#nav {
    position: absolute;
}


#nav .icon {
    display: table;
    width: 140px;
    background: url(icon.svg) center no-repeat;
    background-size: contain;
    border-radius: 1.5rem;
}
#nav .icon > div {
    padding-bottom: 30%;
}



#notice {
    
    position: absolute;
    box-sizing: border-box;
    top: 11rem; left: 0;
    padding: 2rem;
    width: 100%;
    color: white;
    background: var(--blue);
    font-size: 2rem;
    text-align: center;
}


#first {
    padding: 15%;
    height: unset;
}
#first .split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
}

#first .img {
    position: relative;
    width: 100%;
    max-width: 400px;
    background: url(banner.svg) center no-repeat;
    background-size: contain;
    margin-bottom: 3rem;
}
#first .img > div {
    padding-bottom: 60%;
}

#first h1 {
    text-align: left;
    font-size: 5rem;
    margin-bottom: 1rem;
}
#first p {
    text-align: left;
    font-size: 3rem;
}
#first p.caption {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#first .notice {
    margin: 5rem 0;
    border: solid 0.5rem var(--blue);
    padding: 3rem;
    border-radius: 1rem;
}