#first {
    padding: 10%;
}

#first .center {
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}
#first .miniseries {
    position: relative;
    background: url(/src/miniseries.svg) center no-repeat;
    background-size: contain;
    width: 26rem;
    margin-bottom: 3rem;
}
#first .miniseries > div { padding-bottom: 16%; }

#first .img {
    position: relative;
    width: 100%;
    max-width: 400px;
    background: url(/resources/prototyping.png) center no-repeat;
    background-size: contain;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
}
#first .img > div {
    padding-bottom: 60%;
}

#first p {
    text-align: center;
}