#cards {
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    grid-row-gap: 6rem;
    margin-top: 4rem;
}

.card h1 {
    color: black;
    font-weight: normal;
    padding: 1rem 2rem;
    font-size: 3rem;
    transition-duration: 0.2s;
}
.card h2 {
    margin-top: 2rem;
    padding: 0 2rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--blue);
}
.card p {
    margin-top: 1rem;
    color: var(--grey);
    font-size: 2rem;
    padding: 0 2rem;
    transition-duration: 0.2s;
}

.img {
    display: block;
}
.card .img {
    background: var(--softGrey);
    border-radius: 1rem;
    padding-bottom: 60%;
    cursor: pointer;
}
.card > .max > h1 {
    text-align: center;
}
.card > .img {
    box-shadow: 0 0.5rem 2rem -1rem var(--grey);
    background-size: cover;
    background-position: left top;
}



.card {
    transform: translateY(5rem);
    transition-duration: 1s;
    transition-delay: 0.6s;
    transition-timing-function: cubic-bezier(.12,1,.36,1);
    opacity: 0;
}
.ready .card {
    transform: none;
    opacity: 1;
}
.ready .card:nth-of-type(1) { transition-delay: 0s; }
.ready .card:nth-of-type(2) { transition-delay: 0.04s; }
.ready .card:nth-of-type(3) { transition-delay: 0.08s; }
.ready .card:nth-of-type(4) { transition-delay: 0.12s; }
.ready .card:nth-of-type(5) { transition-delay: 0.16s; }
.ready .card:nth-of-type(6) { transition-delay: 0.20s; }
