@media only screen and (max-width: 1200px) {
    #first {
        padding: 5%;
        padding-top: 10%;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 700px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 500px) {
    .card .title, .seriesCard .title {
        padding: 1.5rem;
        font-size: 2.5rem;
    }
}
@media only screen and (max-width: 350px) {

    #first {
        padding: 10%;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr;
    }
    
}