@media only screen and (max-width: 900px) {
    .section .cards {
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }
}
@media only screen and (max-width: 700px) {


    #s-cards {
        padding: 4rem;
    }

    #s-splash {
        padding-top: 18rem;
    }

    

}