@media only screen and (max-width: 1000px) {

    .people {
        grid-template-columns: 1fr 1fr;
        grid-gap: 6rem;
        grid-column-gap: 4rem;
        padding-bottom: 8rem;
    }

}
@media only screen and (max-width: 900px) {

    .person .right {
        padding: 2rem;
    }

    #s-splash {
        padding-top: 18rem;
    }
    #s-splash .max {
        width: 100%;
        max-width: 100%;
    }
    #s-splash .max.small {
        width: 100%;
        max-width: 100%;
    }

    #modal .container {
        overflow: visible;
        padding: 4rem;
    }
    #modal .container .window {
        width: 100%;
    }

    #modal .bio {
        font-size: 2.5rem;
    }
    #modal .bio .label {
        font-size: 3rem;
    }

    .people .person .right {
        padding: 4rem;
    }

}
@media only screen and (max-width: 700px) {

    #s-splash {
        padding: 5rem;
        padding-top: 24rem;
    }

    .people {
        grid-template-columns: 1fr;
    }
    

}