@media only screen and (max-width: 900px) {

    .person .right {
        padding: 2rem;
    }

    #s-splash {
        padding-top: 18rem;
    }
    #s-splash .max {
        width: 100%;
        max-width: 100%;
    }
    #s-splash .max.small {
        width: 100%;
        max-width: 100%;
    }


    .person {
        max-height: 52rem;
    }


    .people .person .right {
        padding: 4rem;
    }

}
@media only screen and (max-width: 700px) {

    #s-splash {
        padding: 5rem;
        padding-top: 24rem;
    }

    .people {
        grid-template-columns: 1fr;
        grid-gap: 3rem;
    }
    

}