#first {
    padding: 10%;
    padding-bottom: 5%;
}
#first h1 {
    color: var(--blue);
    font-size: 5rem;
    margin-bottom: 5rem;
    opacity: 0;
}
.ready #first h1 { animation: title-in 1s cubic-bezier(.12,.58,.13,1) forwards; }
.ready #first p { animation: title-in 1s 0.1s cubic-bezier(.12,.58,.13,1) forwards; }
@keyframes title-in {
    0% { opacity: 0; transform: translateY(2rem); }
    100% { opacity: 1; transform: none; }
}
#first p {
    opacity: 0;
    max-width: 100rem;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}
#first a {
    padding: 0 0.25rem;
    text-decoration: underline;
}
#first p a:hover {
    color: white;
    background: black;
    text-decoration: none;
}


#first .links {
    opacity: 0;
    text-align: left;
}
.ready #first .links { animation: title-in 1.2s 0.2s cubic-bezier(.12,.58,.13,1) forwards; }

#first .links a {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: 2rem;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    transition-duration: 0.3s;
}
#first .links a:first-of-type {
    margin-left: 0;
}
#first .links .facebook { background-image: url(/src/socialMedia/facebook-black.svg); }
#first .links .instagram { background-image: url(/src/socialMedia/instagram-black.svg); }

#first .links a:hover {
    transform: translateY(-0.5rem);
    transition-timing-function: cubic-bezier(.24,1.65,.23,1);
    transition-duration: 0.5s;
}




#team {
    background: black;
    text-align: center;
    padding: 5%;
}





::-webkit-scrollbar {
    display: default;
}
#modal {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
}

#modal {
    overflow-y: scroll;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    animation: in-Modal 0.2s linear;
}
@keyframes in-Modal {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#modal .container {
    cursor: zoom-out;
    box-sizing: border-box;
    overflow: visible;
    padding: 5%;
}
#modal .container .window {
    cursor: default;
    overflow: hidden;
    position: relative;
    max-width: 96rem;
    margin: auto;
    background: white;
    border-radius: 2rem;
    box-shadow: 0 1rem 10rem -1rem black;
    animation: in-Window 0.6s cubic-bezier(.1,.94,0,.99);
}
@keyframes in-Window {
    0% { transform: scale(0.8); }
    100% { transform: none; }
}

#modal .exit {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background: url(/src/cross.svg) center no-repeat;
    background-size: 4rem;
    width: 12rem;
    height: 12rem;
    z-index: 10;
    opacity: 1;
    animation: in-Exit 1.8s cubic-bezier(.2,.6,0,0.9);
}
@keyframes in-Exit {
    0% { transform: scale(0.7) translateY(3rem); }
    40% { opacity: 1; }
    100% { transform: none; opacity: 1; }
}


#modal .icon {
    margin: auto;
    position: relative;
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 0; left: 0; right: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}


#modal .icon .links {
    padding: 3rem;
}
#modal .icon .links .soic {
    font-size: 3rem;
    font-weight: bold;
    display: table;
    height: 4rem;
    padding-left: 6rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-position: 0 0;
    background-size: 3.5rem;
    background-repeat: no-repeat;
}
#modal .icon .links .soic.linkedin { color: #2867B2 }
#modal .icon .links .soic.dribbble { color: #EA4C89 }
#modal .icon .links .soic.personal { color: #009A4B }
#modal .icon .links .soic.instagram { color: #C6328A }


#modal .name {
    font-size: 4rem;
    color: black;
    background: linear-gradient(#e6f5ff,white);
    padding: 3rem 5rem 1rem 5rem;
}
#modal .position {
    font-size: 3rem;
    color: var(--orange);
    padding: 0rem 5rem 1rem 5rem;
}
#modal .bio {
    display: block;
    font-size: 2.5rem;
    line-height: 3rem;
    color: black;
    text-align: left;
    padding: 2rem 5rem 6rem 5rem;
}
#modal .bio .label {
    color: var(--blue);
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
    padding: 2.5rem 0 1rem 0;
}


#team {
    padding: 10rem 10rem;
}
#team > h1 {
    color: white;
    margin-bottom: 5rem;
    text-align: center;
}
.people {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4rem;
    color: white;
}



.person {
    cursor: pointer;
    box-sizing: border-box;
    display: block;
}
.person[hide=true] {
    opacity: 0;
}
.person > * {
    cursor: pointer;
}

.person .icon {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    background: white;
    border-radius: 1rem;
    transition-duration: 0.3s;
    background-size: cover;
    background-position: center;
}

.person .icon .links {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}
.person .icon .links .soic {
    font-size: 0;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.soic.linkedin { background-image: url(src/icon-linkedin.svg); }
.soic.dribbble { background-image: url(src/icon-dribbble.svg); }
.soic.personal { background-image: url(src/icon-personal.svg); }
.soic.instagram { background-image: url(src/icon-instagram.svg); }



.person .name {
    font-size: 3rem;
    margin: 0 2rem;
    margin-top: 2rem;
}
.person .position {
    font-size: 2rem;
    margin: 0 2rem;
}
.person .bio {
    display: none;
    padding: 3rem;
    padding-top: 0;
    text-align: justify;
    margin-top: 2rem;
}


.person .bio .label {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: inherit;
    display: block;
    font-weight: bold;
}