h1 {
    font-size: 5rem;
    font-weight: bold;
}
h2 {
    font-size: 4rem;
}
p {
    font-size: 2.5rem;
}

.max.small {
    max-width: 96rem;
    padding-right: 32rem;
}


#nav .logo {
    background: url(/src/logoBlack.svg) no-repeat center;
}
#s-splash {
    overflow: hidden;
    background: white;
    color: black;
    padding: 15rem 10rem;
    padding-top: 12rem;
}
#s-splash p {
    margin-top: 5rem;
}
#s-splash h1 {
    color: var(--blue);
}



#modal, #modalExit {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
}
#modal {
    padding: 4rem;
    z-index: 100;
    background: rgba(0, 0, 0, 0.6);
}
#modal .container {
    position: relative;
    max-width: 96rem;
    padding: 2rem;
    margin: auto;
    background: white;
    border-radius: 2rem;
}

#modal .icon {
    margin: auto;
    position: relative;
    width: 16rem;
    padding-bottom: 100%;
    background-size: cover;
}
#modal .name {
    font-size: 4rem;
}
#modal .position {
    font-size: 3rem;
}
#modal .bio {
    font-size: 2rem;
}


#s-team {
    padding: 10rem 10rem;
}
#s-team > h1:first-of-type {
    margin-top: 2rem;
    margin-bottom: 12rem;
    text-align: center;
}
.people {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6rem;
    color: white;
}



.person {
    /* cursor: pointer; */
}

.person .icon {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    background: #f0e3dd;
    border-radius: 1rem;
    transition-duration: 0.3s;
    background-size: cover;
    background-position: center;
}


.person .name {
    font-size: 3rem;
    margin: 0 2rem;
    margin-top: 2rem;
}
.person .position {
    font-size: 2rem;
    margin: 0 2rem;
}
.person .bio {
    font-size: 1.75rem;
    padding: 3rem;
    padding-top: 0;
    text-align: justify;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(.48,.01,.38,1);
    margin-top: 2rem;
}


.person .bio .label {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: inherit;
    display: block;
    font-weight: bold;
}