#navSpecial {
    background: black;
    color: white;
    padding: 4rem 8rem;
}
#navSpecial > a {
    font-size: 2rem;
    font-weight: bold;
}
#navSpecial > a:nth-child(2) {
    float: right;
}


#load .loadAnimation {
    z-index: 1;
    display: table;
    width: 16rem;
    height: 16rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}
.ready #load {
    transition-duration: 0.2s;
    opacity: 0;
    pointer-events: none;
}
#ballL { animation: ballBounce 0.45s linear -0.16s infinite; }
#ballM { animation: ballBounce 0.45s linear -0.08s infinite; }
#ballR { animation: ballBounce 0.45s linear -0.0s infinite; }
@keyframes ballBounce {
    0% {
        opacity: 1;
        animation-timing-function: cubic-bezier(0,.6,.4,1);
    }
    50% {
        opacity: 0;
        animation-timing-function: cubic-bezier(.6,0,1,.4);
    }
    100% {
        opacity: 1;
    }
}




#event {
    margin-top: 6rem;
    min-height: 60vh;
    padding: 8%;
    color: black;
    opacity: 0;
    transform: translateY(2rem);
    text-align: center;
}  
#event .wrapper {
    max-width: 100rem;
    margin: auto;
}
.ready #event {
    transform: none;
    transition-duration: 0.6s;
    opacity: 1;
}
#event #-type {
    font-size: 3rem;
    font-weight: bold;
    color: var(--blue);
    margin-bottom: 4rem;
}
#event #-title {
    font-size: 5rem;
    margin-bottom: 2rem;
}
#event #-date {
    font-weight: bold;
    font-size: 3rem;
}
#event #-location {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 4rem;
}
#event #-desc {
    text-align: left;
    font-size: 3rem;
}
#event p {
    font-size: 3rem;
}





