@media only screen and (max-width: 700px) {


    #nav {
        display: block;
    }
    #nav p {
        display: none;
    }


    #s-head {
        max-width: unset;
        padding: 5rem 5rem;
        margin: 0 2rem;
    }
    #-title {
        font-size: 5rem;
    }
    #-location, #-date {
        margin-top: 1rem;
        font-size: 3rem;
    }


}