#nav {
    position: absolute;
}

#s-first {
    position: relative;
    padding: 32rem 6rem 6rem 6rem;
    background: url(/src/img/audience.png);
    background-size: cover;
    background-position: center;
}
#s-first h1 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 2rem black, 0 0 4rem black;
}

#s-about {
    padding: 16rem 12rem;
}





#s-about h2 {
    text-align: center;
    max-width: 96rem;
    margin: auto;
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: normal;
}