#first #mural {
    display: block;
    position: relative;
}
#first #mural > .spacer {
    padding-bottom: 40%;
}
#first #mural .img {
    display: table;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 100rem;
    box-shadow: 0 0 0 0.5rem white;
}
#first #mural .main {
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#first #mural .main > .spacer {
    padding-bottom: 25%;
}


.img {
    opacity: 0;
    transition-duration: 1.2s;
    transform: translateY(5rem) scale(0.9);
    transition-timing-function: cubic-bezier(.24,1.41,.52,1);
}

.ready .img {
    opacity: 1;
    transform: none;
}

#first #mural .main {
    transform: translate(-50%,-50%);
}
.ready #first #mural .main {
    transform: translate(-50%,-50%);
}


#first #mural .img.zero > div { padding-bottom: 25% }
#first #mural .img.zero {
    background-image: url(src/photo-main.png);
    width: 100%;
    top: 0;
    left: 0;
} 




#first #mural .img.one > div { padding-bottom: 60% }
#first #mural .img.one {
    background-image: url(src/img-one.png);
    width: 24%;
    top: -34%;
    left: -2%;
}

#first #mural .img.two > div { padding-bottom: 40% }
#first #mural .img.two {
    background-image: url(src/img-two.png);
    width: 34%;
    bottom: -22%;
    right: -7%;
}

#first #mural .img.three > div { padding-bottom: 50% }
#first #mural .img.three {
    z-index: -1;
    background-image: url(src/img-three.png);
    width: 38%;
    top: -52%;
    right: 25%;
}


#first #mural .bubble.square > div { padding-bottom: 100% }

#first #mural .img.four {
    background-image: url(src/img-four.png);
    width: 20%;
    bottom: -44%;
    left: 10%;
}

#first #mural .img.five {
    background-image: url(src/img-five.png);
    width: 17%;
    top: -40%;
    right: -9%;
}