@media only screen and (max-width: 600px) {


    #first {
        position: relative;
        box-sizing: border-box;
        text-align: center;
        padding: 5%;
    }


    #tickets {
        max-width: 100rem;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


}