@media only screen and (max-width: 600px) {


    #first {
        position: relative;
        box-sizing: border-box;
        text-align: center;
        padding: 5%;
    }




    #first .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }

}