#page {
    text-align: center;
    padding: 10%;
}
#page .title {
    padding-bottom: 5rem;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.42,1.55,.36,1);
    transform: translateY(5rem);
    opacity: 0;
}
.ready #page .title {
    transform: none;
    opacity: 1;
}


.prelide {
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(.28,.49,.31,1);
}


#first .header {
    display: table;
    margin: 2rem auto;
    color: var(--blue);
    font-size: 3rem;
    
}


.header {
    color: var(--blue);
    font-size: 3rem;
    font-weight: bold;
    padding: 3rem;
}
.section {
    padding: 5rem 0;
}


#page p {
    font-size: 3rem;
    max-width: 100rem;
    margin: auto;
}


#page .button {
    display: table;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding: 1rem 2rem;
    padding-bottom: 1.25rem;
    font-size: 2rem;
    font-weight: bold;
    background: black;
    color: white;
    border-radius: 4rem;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(.43,.71,.12,1);
}
#page .button:hover {
    background: var(--blue);
    transform: translateY(-0.5rem);
}




#page .img.one {
    height: 5rem;
    padding-bottom: 3rem;
    margin: 2rem auto;
    background: url(src/img-showtell.svg) center no-repeat;
    background-size: contain;
}


#page .img.two {
    height: 30rem;
    padding-top: 5rem;
    margin: auto;
    background: url(src/img-stickers.png) center no-repeat;
    background-size: contain;
}




.photo {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 1rem auto;
    margin-top: 3rem;
    max-width: 80rem;
    overflow: hidden;
    border-radius: 2rem;
}
.caption {
    font-weight: bold;
    font-size: 2rem;
    color: var(--grey);
    margin-bottom: 3rem;
}



#page p .fblink {
    text-decoration: underline;
    padding: 0 0.5rem;
}
#page p .fblink:hover {
    text-decoration: none;
    color: white;
    background: var(--blue);
}



#tickets {
    position: relative;
    max-width: 100rem;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#tickets .guest {
    display: grid;
    text-align: center;
    padding-bottom: 3rem;
}
#tickets .guest .name {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 0.5rem;
}
#tickets .guest .count {
    font-size: 3rem;
    font-weight: normal;
}


#tickets .notice {
    position: absolute;
    top: 0; left: 0; right: 0;
    bottom: 1rem;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: var(--grey);
}

#tickets.empty {
    padding-bottom: 10rem;
}