html {
    background: white;
    color: black;
}
body {
    padding: 6rem;
}

h1 {
    font-size: 4rem;
}
p {
    font-size: 2rem;
}
.guest div {
    font-size: 2rem;
}

#tickets {
    padding: 2rem;
}

.name {
    font-size: 3rem;
}