

@media only screen and (max-width: 1024px) {


    #nav .container .item {
        padding: 4px 12px;
    }

    .page.info .container {
        display: grid;
        width: 80%;
        max-width: 768px;
        margin: auto;
        grid-template-columns: 1fr;
        gap: 64px;
    }


    .page.resources .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }



}
@media only screen and (max-width: 768px) {

    #nav .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #nav .container > div:nth-of-type(1) { text-align: left; }
    #nav .container > div:nth-of-type(2) { display: none; }
    #nav .container > div:nth-of-type(3) { display: none; }
    #nav .container > div:nth-of-type(4) { display: block; }

    .page.resources .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
        max-width: 256px;
        margin: auto;
    }

}