#nav {
    max-width: 128rem;
    margin: auto;
}

#first {
    max-width: 128rem;
    margin: auto;
    padding: 4rem;
    padding-top: 6.5rem;
}
@media only screen and (max-width: 650px) { #first {
        padding-top: 0rem;
} }



#first h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
}


#first .list {
    padding: 4rem 2rem;
    padding-top: 2rem;
}


#first .list .item {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    color: black;
    font-weight: bold;
    padding: 2rem 4rem;
    margin: 1rem;
    font-size: 2rem;
    border-radius: 1rem;
    border: solid 2px white;
    background: var(--softGrey);
}
#first .list .item:hover {
    color: white;
    background: var(--orange);
}